main {
    display: flex;
    max-width: 1300px;
    padding: 0 25px;
}

.left-section {
    margin-right: 1.875rem;
}

.right-section {
    display: flex;
    flex-wrap: wrap;
}

    
@media screen and (max-width: 905px) {
    main {
        flex-direction: column;
        align-items: center;
        border: 1px solid red;
    }
    .right-section {
        justify-content: center;
    }
}